.vcuarts-branding-bar .inner-vcubar {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  padding: 0 20px;
}
.vcuarts-branding-bar .inner-vcubar:after {
  content: " ";
  display: block;
  clear: both;
}
.vcuarts-branding-bar .inner-vcubar:before,
.vcuarts-branding-bar .inner-vcubar:after {
  content: "";
  display: table;
}
.vcuarts-branding-bar {
  background: #000;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  position: relative;
  z-index: 999;
}
.vcuarts-branding-bar a {
  display: block;
  position: absolute;
  z-index: 2;
  height: 100%;
  line-height: 46px;
}
.vcuarts-branding-bar a.vcu-bar {
  width: 380px;
  right: -300px;
}
.vcuarts-branding-bar a.vcu-bar:hover .vcu-dk {
  opacity: 0;
}
.vcuarts-branding-bar a.vcu-bar:hover .vcu-color {
  opacity: 1.0;
}
.vcuarts-branding-bar a.vcuarts-bar {
  width: 85px;
}
.vcuarts-branding-bar a.vcuarts-bar .arts-color {
  fill: #FFF;
  -webkit-transition: fill .15s ease-in-out;
  transition: fill .15s ease-in-out;
}
.vcuarts-branding-bar a.vcuarts-bar:hover .arts-red {
  fill: #FC363B;
}
.vcuarts-branding-bar a.vcuarts-bar:hover .arts-gold {
  fill: #FECB2E;
}
.vcuarts-branding-bar .inner-vcubar {
  height: 40px;
  position: relative;
}

.vcuarts-branding-bar .vcu-color {
  opacity: 0;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
.vcuarts-branding-bar .vcu-dk {
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
.vcuarts-branding-bar .vcu-name {
  display: none;
  right: 40px;
}

@media (min-width: 480px) {

  .vcuarts-branding-bar .inner-vcubar {
    padding: 0 40px;
  }

  .vcuarts-branding-bar a.vcu-bar {
    right: -275px;
  }

}
@media (min-width: 768px) {

  .vcuarts-branding-bar .vcu-name {
    display: block;
  }

  .vcuarts-branding-bar a.vcu-bar {
    right: 40px;
  }

}